<section class="bg-write py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
      <!-- Título -->
      <h2 class="text-3xl font-bold text-center text-gray-900 sm:text-4xl mb-8">Sobre Nosotros</h2>

      <!-- Contenido -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        <!-- Bloque de historia -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Nuestra Historia</h3>
          <p class="text-gray-600">
            FySistem 3D nació en 2024 de la visión conjunta del Inegniero en Sistemas Fabio Yela y su equipo de ingenieros apasionados por la tecnología y el diseño
             el cual se dieron cuenta que muchas empresas necesitaban soluciones de diseño y producción rápidas, eficientes y sobre todo, 
            personalizadas adaptandose a las necesidades de la comunidad. FySistem se dedicada a desarrollar soluciones de alta calidad y adaptabilidad, 
            enfocadas en transformar ideas en realidades.
          </p>
        </div>

        <!-- Bloque de misión -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Nuestra Misión</h3>
          <p class="text-gray-600">
            Destacar el compromiso con la creación de soluciones personalizadas, eficientes y de alto impacto
            en la sociedad, haciendo de cada proyecto una oportunidad para superar nuestros limites en las expectativas
            de un desarrollo sostenible.
          </p>
        </div>

        <!-- Bloque de visión -->
        <div class="bg-white p-6 rounded-lg shadow-lg">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Nuestra Visión</h3>
          <p class="text-gray-600">
            Impulsan el crecimiento de nuestros clientes y renovar los estándares de personalización y servicio en la industria, 
            estableciendo alianzas duraderas con el fin de construir un ambiente donde la tecnología se adapte a cada necesidad, 
            permitiendo a nuestros clientes imaginar sin límites y concretar sus visiones con precisión e innovación.
          </p>
        </div>
      </div>

      <!-- Equipo -->
      <div class="mt-12">
        <h3 class="text-2xl font-semibold text-center text-gray-800 mb-8">Nuestro Equipo</h3>
        <div class="flex flex-wrap justify-center gap-8">
          <!-- Miembro del equipo -->
          <div class="w-64 bg-white p-6 rounded-lg shadow-lg">
            <img class="w-24 h-24 mx-auto rounded-full" src="/assets/Images/Fabio.jpg" alt="Miembro del equipo">
            <h4 class="text-lg font-medium text-center text-gray-900 mt-4">Fabio Yela </h4>
            <p class="text-center text-gray-600">Ingeniero en Sistemas</p>
          </div>

          <!-- Miembro del equipo -->
          <div class="w-64 bg-white p-6 rounded-lg shadow-lg">
            <img class="w-24 h-24 mx-auto rounded-full" src="https://via.placeholder.com/150" alt="Miembro del equipo">
            <h4 class="text-lg font-medium text-center text-gray-900 mt-4">Cristian Melo</h4>
            <p class="text-center text-gray-600">Ingeniero Eléctrico</p>
          </div>

          <!-- Miembro del equipo -->
          <div class="w-64 bg-white p-6 rounded-lg shadow-lg">
            <img class="w-24 h-24 mx-auto rounded-full" src="https://via.placeholder.com/150" alt="Miembro del equipo">
            <h4 class="text-lg font-medium text-center text-gray-900 mt-4">Tatiana Pineda</h4>
            <p class="text-center text-gray-600">Directora de Marketing</p>
          </div>
        </div>
      </div>
    </div>
  </section>